<header class="main-header">
    <a href="{{"/" | relative_url}}"><h1>
        <span><img src="/img/Logo.png" alt="" class="logo"></span>
    {{site.title}}</h1></a>
    <span class="menu-icon">
        <svg viewBox="0 0 18 15" width="36px" height="30px">
<path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"></path>
<path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"></path>
<path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"></path>
</svg>
    </span>
    <nav class="main-nav" role="navigation">
        <ul>
            <li><a href="/">Aktualności</a></li>
            <li><a href="/about">O mnie</a></li>
            <li><a href="/cooperation">Współpraca</a></li>
            <li><a href="https://www.facebook.com/kotzrodlowy/">
                <img src="/img/facebook-logo.svg" alt="Facebook" class="social-icon">
            </a></li>
            <li><a href="https://twitter.com/korneliakobiela">
                <img src="/img/twitter-logo.svg" alt="Twitter" class="social-icon">
            </a></li>
            <li><a href="https://gitlab.com/korneliakobiela">
                <img src="/img/gitlab-icon.svg" alt="Gitlab" class="social-icon">
            </a></li>
            <li><a href="https://www.linkedin.com/in/korneliakobiela/">
                <img src="/img/linkedin-logo.svg" alt="Linkedin" class="social-icon">
            </a></li>
        </ul>
    </nav>
</header>
