<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="description" content="{{site.description}}">
    <meta name="google-site-verification" content="AZFP4vUQqwDqvrda2nwWPvsE56aqBcBNPY9Qq3cK4yU" />
    <meta name="google-site-verification" content="6ljvKLLhnz1k2pcdRp_6ivdWECjOw5_i_HW1gGxw3l0" />
    {% feed_meta %}
		<title> {% if page.title %}
			{{ page.title}} - {{site.title}}
			{% else %} {{site.title}}
			{% endif %}
		</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
